{% extends 'base.html' %} {% load humanize %} {% block pageContent %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card card-default rounded-0 shadow ">
        <div class="card-header">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <h4 class="card-title fw-bold">List of Bookings</h4>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <table class="table table-bordered" id="booking-list">
                    <colgroup>
                        <col width="5%">
                        <col width="20%">
                        <col width="30%">
                        <col width="10%">
                        <col width="15%">
                        <col width="10%">
                        <col width="10%">
                    </colgroup>
                    <thead>
                        <tr class="bg-gradient bg-primary bg-opacity-50 text-light">
                            <th class="px-2 py-2 text-center">#</th>
                            <th class="px-2 py-2 text-center">Booked By</th>
                            <th class="px-2 py-2 text-center">Schedule</th>
                            <th class="px-2 py-2 text-center">Seats</th>
                            <th class="px-2 py-2 text-center">Payable</th>
                            <th class="px-2 py-2 text-center">Status</th>
                            <th class="px-2 py-2 text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booked in bookings %}
                        <tr>
                            <td class="px-2 py-1 align-middle">{{ forloop.counter }}</td>
                            <td class="px-2 py-1 align-middle">{{ booked.name }}</td>
                            <td class="px-2 py-1 align-middle">
                                <div class="lh-1">
                                    <div>{{ booked.schedule.schedule|date:"Y-m-d h:i A" }}</div>
                                    <div>{{ booked.schedule.bus.bus_number }}</div>
                                    <small class="text-muted">{{ booked.schedule.bus.category }}</small>
                                </div>
                            </td>
                            <td class="px-2 py-1 align-middle text-end">{{ booked.seats|intcomma }}</td>
                            <td class="px-2 py-1 align-middle text-end">{{ booked.total_payable|intcomma }}</td>
                            <td class="px-1 py-1 align-middle text-center">
                                {% if booked.status == '1' %}
                                <span class="badge bg-primary bg-gradient rounded-pill px-2">Pending</span> {% else %}
                                <span class="badge bg-success bg-gradient rounded-pill px-2">Paid</span> {% endif %}
                            </td>
                            <td class="px-2 py-1 align-middle text-center">
                                <a class="btn btn-outline-primary btn-sm view-data" href="javascript:void(0)" data-url="{% url 'veiw-booking' booked.pk %}" title="View Booking">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <button class="btn btn-outline-danger btn-sm delete-data" type="button" data-id="{{ booked.pk }}" title="Delete">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
    $(function() {
       
        $('.view-data').click(function() {
            uni_modal('<i class="fa fa-edit"></i> View Booking Detail', $(this).attr('data-url'), 'modal-md')
        })
        $('.delete-data').click(function() {
            _conf("Are you sure to delete this Booking permanently?", "delete_booking", [$(this).attr('data-id')])
        })

        $('#booking-list').DataTable({
            columnDefs: [{
                orderable: false,
                targets: 6
            }],
            initComplete: function(settings, json) {
                $('table td, table th').addClass('px-2 py-1')
            },
            drawCallback: function(settings) {
                $('table td, table th').addClass('px-2 py-1')
            }
        })
    })

    function delete_booking($id) {
        start_loader();
        var _this = $(this)
        $('.err-msg').remove();
        var el = $('<div>')
        el.addClass("alert alert-danger err-msg")
        el.hide()
        $.ajax({
            url: '{% url "delete-booking" %}',
            headers: {
                'X-CSRFToken': "{{csrf_token}}"
            },
            method: 'POST',
            data: {
                id: $id
            },
            dataType: 'json',
            error: err => {
                console.log(err)
                el.text('An error occurred.')
                el.show('slow')
                end_loader()
            },
            success: function(resp) {
                if (resp.status == 'success') {
                    location.reload()
                } else if (!!resp.msg) {
                    el.text('An error occurred.')
                    el.show('slow')
                } else {
                    el.text('An error occurred.')
                    el.show('slow')
                }
                end_loader()
            }
        })
    }
</script>
{% endblock ScriptBlock %}