{% extends 'base.html' %}{% load static %}{% block pageContent %}
<style>
    main {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }
</style>
<div class="d-flex flex-column w-100 justify-content-center align-items-center">
   
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="card card-default rounded-0 shadow">
            <div class="card-header">
                <h4 class="card-title"><b>Find Trip</b></h4>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <form id="login-user" method="POST" action="{% url 'scheduled-trips-page' %}">
                        {% csrf_token %}
                        <div class="mdc-layout-grid">
                            <div class="mdc-layout-grid__inner">
                                <div class="form-group mb-3">
                                    <label for="date" class="control-label">Date</label>
                                    <input type="date" class="form-control rounded-0" min = '{{ today }}' autofocus name="date" id="date" required="required">
                                </div>
                                <div class="form-group mb-3 ">
                                    <label for="depart" class="control-label">Depart</label>
                                    <select name="depart" id="depart" class="form-select select2 rounded-0">
                                        <option selected></option>
                                        {% for location in locations %}
                                        <option value="{{ location.id }}" >{{ location }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group mb-3 ">
                                    <label for="destination" class="control-label">Destination</label>
                                    <select name="destination" id="destination" class="form-select select2 rounded-0">
                                        <option selected></option>
                                        {% for location in locations %}
                                        <option value="{{ location.id }}" >{{ location }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="d-flex w-100 justify-content-between align-items-center">
                                        <div class="col-md-4">
                                            {% comment %} <a href="{% url 'register-user' %}">Signup</a> {% endcomment %}
                                        </div>
                                        <button class="btn btn-sm rounded-0 btn-primary">
                                                Find Trip
                                            </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock pageContent %} {% block ScriptBlock %}
<script>
    $(function() {
        $('.select2').select2({
            width:"100%",
            placeholder: "Please Select Here",
        })
    })
</script>
{% endblock ScriptBlock %}